<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-input/all-imports.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-styles/color.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="shared-styles.html">
<script src="/src/fijos/leas.js"></script>

<dom-module id="leas-stres">
  <template>
    <style include="shared-styles iron-flex iron-positioning iron-flex-alignment">
      :host {
        display: block;
        width: 300px;
        padding-left: 20%;
        padding-top: 100px;
        height: 100%;
      }
    </style>

      <div class="card ">
        <h1>S3</h1>
        <input type="file" id="filechooser" />
         <button id="upload-button"   on-tap='uploadbutton_tap'>Upload to S3</button>
         <div id="results"></div>
         <div id="fb-root"></div>
      </div>

  </template>

  <script>
    Polymer({
      is: "leas-stres",
      properties: {
        // appId :{type:String},
        // roleArn :{type:String},
        // bucketName :{type:String},
        // region :{type:String},
        // fileChooser  :{type:String},
        // button  :{type:String},
        // results  :{type:String},
        // xxx :{type:String},


      },
      uploadbutton_tap:function(){
        var appId = 'leasblog';
        var roleArn = 'YOUR_ROLE_ARN';
        var bucketName = 'YOUR_BUCKET_NAME';
        AWS.config.region = 'YOUR_BUCKET_REGION';
        var fbUserId;
        var bucket = new AWS.S3({
            params: {
                Bucket: bucketName
            }
        });

        console.log("jj");
        var fileChooser = this.$.filechooser;
        var results = this.$.results;

        var file = fileChooser.files[0];
        if (file) {
               results.innerHTML = '';
               //Object key will be facebook-USERID#/FILE_NAME
               var objKey = 'facebook-' + fbUserId + '/' + file.name;
               var params = {
                   Key: objKey,
                   ContentType: file.type,
                   Body: file,
                   ACL: 'public-read'
               };

               bucket.putObject(params, function (err, data) {
                   if (err) {
                       results.innerHTML = 'ERROR: ' + err;
                   } else {
                       listObjs();
                   }
               });
           } else {
               results.innerHTML = 'Nothing to upload.';
           }

      },
      listObjs:function() {
            var prefix = 'facebook-' + fbUserId;
            bucket.listObjects({
                Prefix: prefix
            }, function (err, data) {
                if (err) {
                    results.innerHTML = 'ERROR: ' + err;
                } else {
                    var objKeys = "";
                    data.Contents.forEach(function (obj) {
                        objKeys += obj.Key + "<br>";
                    });
                    results.innerHTML = objKeys;
                }
            });
        },

      // btnLogout_OnTab:function(){
      //
      //   leas.user.logout();
      //     {window.location.href = 'public';};
      // }
    });
  </script>
</dom-module>
