<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-input/all-imports.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-styles/color.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/google-map/google-map.html">

<link rel="import" href="shared-styles.html">
<script src="/src/fijos/leas.js"></script>

<dom-module id="leas-public">
  <template>
    <style include="shared-styles iron-flex iron-positioning iron-flex-alignment">
      :host {
        display: block;
        width:100%;
        padding-left: 10px;
        height: 100%;
      }

      google-map {
        height: 300px;
        width: 300px;
      }
    </style>

    <div>

    </div>
    <div class="fullbleed vertical layout center-justified">
      <div>


         <paper-spinner-lite id="LEAS_spinnLoad" class="thin"></paper-spinner-lite>
        <div>
          <template is="dom-repeat" id="repeatPost" items="[[mLosPostBind]]" as="post" >
                <div class="card">

                <table style="width:100%" border="0">
                  <tr>
                    <td width="80%"><h1>[[post.titulo]]</h1></td>
                    <td rowspan="2">
                        <google-map fit-to-marker api-key="AIzaSyDkSTrxIJPIqpqQsD2mxjaciGuD8BpEFHA" zoom="15" latitude="[[post.lat]]" longitude="[[post.long]]">
                          <google-map-marker latitude="[[post.lat]]" longitude="[[post.long]]"  slot="markers"></google-map-marker>
                        </google-map>
                    </td>
                  </tr>
                  <tr>
                    <td><span>[[post.texto]]</span></td><tr>

                      <tr>
                </table>







                </div>

              </template>

        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "leas-public",
        properties: {
          mLosPostBind:{type: Array, notify: true},
        },
      <!-- EVENTS PAGE -->
        created: function(){
          },
        ready: function(){
          //console.log("ready leas-posts");
          this.$.LEAS_spinnLoad.active = true;
          this.getAllPosts();
        },
        geoloc: function(){
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(this.showPosition);
            }
        },
        showPosition: function (position) {
          console.log("latitude", position.coords.latitude);
          console.log("Longitude", position.coords.longitude);
        },
        getAllPosts: function(){ //Devuelve un JSON con todos los posts
          //console.log("getAllPosts");
           var peticion = new XMLHttpRequest();
           peticion.onload = function (e) {
              this.mLosPostBind = JSON.parse(peticion.responseText);
              this.$.LEAS_spinnLoad.active = false;
            }.bind(this)
           var URLItem = "https://api.mlab.com/api/1/databases/leasblog/collections/leasposts";
           URLItem += "?apiKey=CP1BFstvQarv3XNqZMGaT_I3Fisuz7lO";
           peticion.open("GET",URLItem,true);
           peticion.setRequestHeader("Content-Type","application/json");
           peticion.send();
         },
    });
  </script>
</dom-module>
