<!-- imports -->
  <link rel="import" href="./bower_components/polymer/polymer-element.html">
  <link rel="import" href="shared-styles.html">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <script src="/src/fijos/leas.js"></script>

  <dom-module id="leas-usuarios">
    <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <style include="shared-styles" >
        :host {
          display: block;
        };
      </style>
        <div class="card" id="LEAS_DvUserList" hidden$="{{hideDvUserList}}">
          <h1>Listado de Usuarios</h1>
          <input type="button" value="Añadir"  on-tap='btnAddUser_OnTab' class="btn btn-primary">
           <div class="card" >
           <table class="table ">
              <thead>
                <tr>
                  <td class="col-lg-1"  style="display:none;" >#</td>
                  <td class="col-lg-3"><b>Usuario  </b></td>
                  <td class="col-lg-2"><b>E-mail</b></td>
                  <td class="col-lg-2"><b>PW</b></td>
                  <td class="col-lg-1"></td>
                  <td class="col-lg-1"></td>
                </tr>
              </thead>
            </table>
            <div class="pre-scrollable">
              <table class="table  table-striped table-bordered table-hover table-condensed">
                <tbody>
                  <template is="dom-repeat" id="repeatPost" items="{{mLosUsuarioBind}}" as="usuarios">
                    <tr data-toggle="tooltip" title="[[usuarios.id]]" data-placement="top">
                      <td style="display:none;"> {{usuarios.id}} </td>
                      <td class="col-lg-3">
                        [[borraLeas(usuarios.nombre)]]
                      </td>
                      <td class="col-lg-2"> {{usuarios.email}}</td>
                      <td class="col-lg-2"> {{usuarios.password}}</td>
                      <td class="col-lg-1"><input type="button" value="E" id="[[usuarios.id]]" on-tap='btnEtidButton_OnTab' class="btn btn-primary"></td>
                      <td class="col-lg-1"><input type="button" value="D" id="[[usuarios.id]]" on-tap='btnDeleteButton_OnTab'class="btn btn-danger"></td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>

        </div>  <div class="card" id="LEAS_DvUserEdit" hidden$="{{hideDvUserEdit}}">
          <h1>Edición de Usuario</h1>
          <label for="name" class="cols-sm-2 control-label">Código</label>
          <div class="cols-sm-10" hidden$="{{showDvUserEdit}}">
            <input type="text" class="form-control" disabled id="LEAS_IDUSUARIO" value=[[mUserUser]] />
          </div>
          <label for="name" class="cols-sm-2 control-label">Usuario</label>
          <div class="cols-sm-10">
            <input type="text" class="form-control" id="LEAS_USUARIO" placeholder="Usuario" value=[[mUserUser]] />
          </div>
          <label for="name" class="cols-sm-2 control-label">E-Mail</label>
          <div class="cols-sm-10">
            <input type="text" class="form-control" id="LEAS_EMAIL" placeholder="Usuario" value=[[mUserEmail]] />
          </div>
          <label for="name" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <input type="text" class="form-control" id="LEAS_PASSWORD" placeholder="Usuario" value=[[mUserPassword]] />
          </div>
          <div >
            <input type="button" value="Editar"  on-tap='btnAceptEtidButton_OnTab' class="btn btn-primary">
            <input type="button" value="Cancelar"  on-tap='btnEditUserCancel_OnTab'class="btn btn-danger">
          </div>
        </div>
        <div class="card" id="LEAS_DvUserAdd" hidden$="{{hideDvUserAdd}}">
          <h1>Añadir Usuario</h1>
          <div >
            <label for="name" class="cols-sm-2 control-label">Usuario</label>
            <div class="cols-sm-10">
              <div >
                <input type="text" class="form-control" id="LEAS_ADD_USUARIO" placeholder="Usuario" value=[[mUsuario]] />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">e-mail</label>
            <div class="cols-sm-10">
                <input type="text" class="form-control" id="LEAS_ADD_EMAIL" value={{this.mUsuario}} placeholder="e-mail de contacto"/>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
                <input type="text" class="form-control" name="name" id="LEAS_ADD_PASSWORD"  placeholder="Password"  value={{this.mUsuario}} />
            </div>
          </div>
          <input type="button" value="Añadir" on-tap='btnAddUserAcept_OnTab' class="btn btn-primary">
          <input type="button" value="Cancelar" on-tap='btnAddUserCancel_OnTab' class="btn btn-danger">
        </div>
    </template>
  <script>

    Polymer({
      is: "leas-usuarios",
      properties: {
        // mLogin:{type:Boolean,value:leasLogin},
        mLosUsuarioBind:{type: Array, notify: true},
        hideDvUserEdit:{type: Boolean, value:true},
        hideDvUserList:{type: Boolean, value:false},
        hideDvUserAdd:{type: Boolean, value:true},
        mUsuario:{type:String,value:''},
        mEmail:{type:String,value:''},
        mPassword:{type:String,value:''}
      },

        ready: function(){
        if(!leas.user.isLogin()){
            window.location.href = 'login';
          }
        this.mLosUsuarioBind = leas.user.getAll();
        },
        btnDeleteButton_OnTab: function(e){
            leas.user.delete(e.target.id);
            // leas.postgre.delteUser( e.target.id);
            this.mLosUsuarioBind =  leas.user.getAll(); //this.mLosUsuarios;
          },
        btnAddUser_OnTab : function () {
          this.$.LEAS_ADD_PASSWORD.value ="";
          this.$.LEAS_ADD_EMAIL.value ="";
          this.$.LEAS_ADD_USUARIO.value ="";
          this.modeAdd();
        },
        btnAddUserCancel_OnTab : function () {
          this.modeList();
        },
        btnAddUserAcept_OnTab : function () {
          leas.user.create(this.$.LEAS_ADD_USUARIO.value, this.$.LEAS_ADD_EMAIL.value, this.$.LEAS_ADD_PASSWORD.value);
          this.mLosUsuarioBind =   leas.user.getAll();
          this.modeList();
        },
        btnEditUserCancel_OnTab: function(){
          this.modeList();
        },
        btnEtidButton_OnTab: function(e){
          this.modeEdit();
          //var elUser = leas.postgre.getUser(e.target.id);
          var elUser = leas.user.get(e.target.id);
          this.$.LEAS_IDUSUARIO.value = elUser.id;
          this.$.LEAS_USUARIO.value = leas.util.borraLeas(elUser.nombre);
          this.$.LEAS_EMAIL.value = elUser.email;
          this.$.LEAS_PASSWORD.value = elUser.password;
        },
        btnAceptEtidButton_OnTab: function(){
          leas.user.update(
                      leas.util.ponLeas(this.$.LEAS_USUARIO.value),
                      this.$.LEAS_EMAIL.value,
                      this.$.LEAS_PASSWORD.value,
                      this.$.LEAS_IDUSUARIO.value);

          leas.user.updateArray(this.mLosUsuarioBind,
                      leas.util.ponLeas(this.$.LEAS_USUARIO.value),
                      this.$.LEAS_EMAIL.value,
                      this.$.LEAS_PASSWORD.value,
                      this.$.LEAS_IDUSUARIO.value);

          var temp = leas.user.updateArray(this.mLosUsuarioBind,
                        leas.util.ponLeas(this.$.LEAS_USUARIO.value),
                        this.$.LEAS_EMAIL.value,
                        this.$.LEAS_PASSWORD.value,
                        this.$.LEAS_IDUSUARIO.value);
          this.modeList();
        },
        borraLeas(pUser){
          return leas.util.borraLeas(pUser);
        },
        modeAdd:  function(){this.hideDvUserEdit = true; this.hideDvUserList = true;  this.hideDvUserAdd = false; },
        modeList: function(){this.hideDvUserEdit = true;  this.hideDvUserList = false;  this.hideDvUserAdd = true;
          this.mLosUsuarioBind =  [];
          this.mLosUsuarioBind =   leas.user.getAll();},
        modeEdit: function(){this.hideDvUserEdit = false; this.hideDvUserList = true;   this.hideDvUserAdd = true; },

    });
  </script>
</dom-module>
