  <link rel="import" href="/bower_components/polymer/polymer-element.html">
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">
  <link rel="import" href="shared-styles.html">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="/src/fijos/leas.js"></script>


<dom-module id="leas-posts">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style include="shared-styles" >
      :host {
        display: block;
         height: 100%;
      }
      .table-fixed thead {
        width: 97%;
      }
      .table-fixed tbody {
        height: 230px;
        overflow-y: auto;
        width: 100%;
      }
      .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
      }
      .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
      }
      #region{
        height: 40vh;
        overflow: auto;
        top: 25vh;
        left: 25vh;
        right: 25vh;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
      }
      #region2{
        padding-top: 5px;
        padding-right: 50px;
        padding-bottom: 5px;
        padding-left: 50px;
        height: 15vh;
        top: 25vh;
        left: 25vh;
        right: 25vh;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
      }
      #region3{
        padding-top: 5px;
        padding-right: 50px;
        padding-bottom: 5px;
        padding-left: 50px;
        height: 15vh;
        top: 25vh;
        left: 25vh;
        right: 25vh;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
      }
     </style>

    <div id="dvListPosts" class="card" hidden$="{{hideDvListPost}}" >
      <h1>Listado Post</h1>
      <div class="card" id="region2">
        <div class="form-group">
          <label for="usr">Filtro:</label>
          <input type="text" class="form-control" id="usr" value="{{searchString::input}}">
          <div style="margin-top:10px">
            <input type="button" id="btnShowAddPost" on-tap="btnShowAddPost_OnTab" class="btn btn-primary" value="Añadir Post">
          </div>
        </div>
      </div>
      <div class="card">
        <table class="table ">   <!--  tabla CABECERA listado de post-->
          <thead >
            <tr>
              <td class="col-lg-1"  style="display:none;" >#</td>
              <td class="col-lg-3"><b>Tiltulo  <paper-spinner-lite id="LEAS_spinnLoad" class="thin"></paper-spinner-lite></b></td>
              <td class="col-lg-2"><b>Texto</b></td>
              <td class="col-lg-2"><b>IdUsuario</b></td>
              <td class="col-lg-2"><b>Fecha Alta</b></td>

              <td class="col-lg-1"></td>
              <td class="col-lg-1"></td>
            </tr>
          </thead>
        </table>
        <div class="pre-scrollable"><!--  tabla DATOS listado de post-->
          <table class="table  table-striped table-bordered table-hover table-condensed">  <!--  tabla DATOS listado de post-->
            <tbody>
              <template
                is="dom-repeat"
                id="repeatPost"
                items="[[mLosPostBind]]"
                as="post"
                filter="{{filtraPost(searchString)}}">
                <tr data-toggle="tooltip" title=" [[post._id.$oid]]" data-placement="top">
                  <td style="display:none;"> [[post._id.$oid]] </td>
                  <td class="col-lg-3" > [[post.titulo]] </td>
                  <td class="col-lg-2" title="[[post.texto]]"> [[shortTex(20,post.texto)]]</td>
                  <td class="col-lg-2"> [[post.idusuario]]</td>
                  <td class="col-lg-2"> [[post.fechaalta]]</td>
                  <td class="col-lg-1">
                      <paper-icon-button src='/src/fijos/edit.ico' id="[[post._id.$oid]]" on-tap="btnEtidButton_OnTab"></paper-icon-button>
                  </td>
                  <td class="col-lg-1">
                    <paper-icon-button src='/src/fijos/leas.De.ico'  id="[[post._id.$oid]]" on-tap="btnDeleteButton_OnTab"></paper-icon-button>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="dvAddPost" class="card" hidden$="{{hideAddPost}}">
      <h1>Nuevo Post</h1>
      <div class="form-group">
         <label for="inputsm">ID</label>
         <input class="form-control input-sm" id="LEAS_titulo" type="text" value="{{mLblIdPost}}" disabled>
       </div>
      <div class="form-group">
         <label for="inputsm">Título</label>
         <input class="form-control input-sm" id="LEAS_titulo" type="text">
       </div>
       <div class="form-group">
        <label for="comment">Texto:</label>
        <textarea class="form-control" rows="5" id="LEAS_texto"></textarea>
      </div>
      <div>
        <input type="button" id="btnAddPost" on-tap="btnAddPost_OnTab" class="btn btn-primary" value="{{mBtnAddPost_Text}}">
        <input type="button" id="btnAddPost" on-tap="btnCancelAddPost_OnTab" class="btn btn-danger" value="Cancelar">
        <input type="button" id="btnAddMuchosPost" on-tap="btnAddMuchosPost_OnTab" class="btn btn-warning" value="Muchos">
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "leas-posts",
      properties: {
        mLblIdPost:{type: String,value:''},
        mLosPostBind:{type: Array, notify: true},
        hideAddPost: {type:Boolean,value: true},
        hideDvListPost:{type: Boolean,value: false},
        mBtnAddPost_Text:{type: String, value:''}
      },
      <!-- EVENTS PAGE -->
        ready: function(){
          if(!leas.user.isLogin()){
            window.location.href = 'login';
          }
          this.$.LEAS_spinnLoad.active = true;
          this.getAllPosts();
        },
      <!-- EVENTS COMPONENTS -->
        <!-- DIV MAIN -->
          btnShowAddPost_OnTab: function(){
            this.mBtnAddPost_Text = "Guarda";
            this.switchDivs();
          },
          btnEtidButton_OnTab: function (e) {
            this.mLblIdPost = e.target.id;
            var _elPost =   leas.post.find(e.target.id,this.mLosPostBind);
            this.btnShowAddPost_OnTab();
            this.$.LEAS_titulo.value = _elPost.titulo;
            this.$.LEAS_texto.value = _elPost.texto;
            this.mBtnAddPost_Text = "Edita";
          },
          btnDeleteButton_OnTab: function (e) {
            leas.post.delete(e.target.id);
            var temp; //Array temporal para limpuar y bindear la tabla
            for (var i = 0; i < this.mLosPostBind.length; i++) {
              var element = this.mLosPostBind[i];
              var _id = element._id;
              if (element._id.$oid == e.target.id) {
                this.mLosPostBind.splice(i,1);
                temp = [];
                temp = this.mLosPostBind;
                this.mLosPostBind=[];
                this.mLosPostBind = temp;
                temp = [];
                return;
              }
            }
          },
        <!-- DIV NEW EDIT >
          btnAddPost_OnTab: function(){
            if (this.mLblIdPost != '') { //Esto es una actualizacion
             var  elPostOriginal= leas.post.find(this.mLblIdPost,this.mLosPostBind);
             leas.post.update(this.mLblIdPost, this.$.LEAS_titulo.value,this.$.LEAS_texto.value,leas.user.getUserLogin(), elPostOriginal.fechaalta, elPostOriginal.lat,elPostOriginal.long);
              this.mLosPostBind = [];
              this.mLosPostBind = leas.post.getAll();
              this.cleanDvAddPost();
              this.switchDivs();
            } else { // Esto es un registro nuevo
              // Grabo el post y recurepero el id Nuevo
              var id = leas.post.save(this.$.LEAS_titulo.value,this.$.LEAS_texto.value,leas.user.getUserLogin());
              var _elPost = JSON.stringify( {fechaalta:leas.util.getToday(),fechamodificacion:leas.util.getToday(),idusuario: leas.user.getUserLogin(),texto:this.$.LEAS_texto.value,titulo:this.$.LEAS_titulo.value,  _id:{$oid: id}});
              this.push('mLosPostBind', JSON.parse(_elPost)); // Lo meto en el array de posts
              this.cleanDvAddPost();
              this.switchDivs();
              }
            },

            btnAddMuchosPost_OnTab:function(){
              for (var i = 0; i < 10; i++) {
                var id = leas.post.save(
                    leas.util.getToday() + "título " + i,
                    leas.util.getToday()+"texto " + i,
                    leas.user.getUserLogin());
                    //console.log('i=',i);
                var _elPost = JSON.stringify( {
                  activo:true  ,
                  fechaalta:leas.util.getToday(),
                  fechamodificacion:leas.util.getToday(),
                  idusuario:leas.user.getUserLogin(),
                  texto:"texto " + i,
                  titulo:"titulo " + i,
                  _id:{$oid: id}
                });
                this.push('mLosPostBind', JSON.parse(_elPost));
              //  console.log("elpost",_elPost);
              }
              this.cleanDvAddPost();
              this.switchDivs();

            },
          // chkPostVisible_OnClick: function(e) {this.ctrlChecked = this.$$("#chkPostVisible");},
          btnCancelAddPost_OnTab: function () {
            this.cleanDvAddPost();
            this.switchDivs();
          },
      <!-- UTILIIES PAGE -->
          shortTex:function(pLong,pTex){
            if (pTex.length > pLong) {
              return pTex.substring(0,pLong) + " ...";
            }else {
              return pTex;
            }


          },
          cleanDvAddPost:function () { // Borra todos los campos del DV de añadir post
            this.$.LEAS_titulo.value="";
            this.$.LEAS_texto.value = "";
            this.mLblIdPost='';
            // this.$$("#chkPostVisible").checked = false;
          },
          switchDivs: function () { // Alterna la visa entre el DV de tabla y el de AddPost

            if (this.hideAddPost) {
              this.hideAddPost = false;
              this.hideDvListPost = true;
            }else {
              this.hideAddPost = true;
              this.hideDvListPost = false;
            }
          },
      <!-- FUNCTIONS -->

          formPostToJSON: function(){ // Coge los datos de input del post y los trasnforma en json, NO EL ID!!!
            return (
                "{'titulo':" + pTitulo +
                "','texto':" + pTexto +
                "','idusuario':" + pIdUsuario +
                "','fechamodificacion':" + leas.util.getToday() +
                "'}" );
          },
          getAllPosts: function(){ //Devuelve un JSON con todos los posts
            //console.log("getAllPosts");
             var peticion = new XMLHttpRequest();
             peticion.onload = function (e) {
                this.mLosPostBind = JSON.parse(peticion.responseText);
                this.$.LEAS_spinnLoad.active = false;
              }.bind(this)
             var URLItem = "https://api.mlab.com/api/1/databases/leasblog/collections/leasposts";
             URLItem += "?apiKey=CP1BFstvQarv3XNqZMGaT_I3Fisuz7lO";
             peticion.open("GET",URLItem,true);
             peticion.setRequestHeader("Content-Type","application/json");
             peticion.send();
           },

          filtraPost: function(string) {
                  if (!string) {
                    // set filter to null to disable filtering
                    return null;
                  } else {
                    // return a filter function for the current search string
                    string = string.toLowerCase();
                    return function(post) {
                      var titulo = post.titulo.toLowerCase();
                      var texto = post.texto.toLowerCase();
                      var usuario = post.idusuario.toLowerCase();
                      return (titulo.indexOf(string) != -1 ||
                          texto.indexOf(string) != -1 ||
                          usuario.indexOf(string) != -1
                        );
                    };
                  }
                }

});
  </script>
</dom-module>
