<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="/bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="/bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="/bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/app-layout/app-header/app-scroll-effects/app-scroll-effects.html">

<link rel="lazy-import" href="leas-posts.html">
<link rel="lazy-import" href="leas-usuarios.html">
<link rel="lazy-import" href="leas-login.html">
<link rel="lazy-import" href="leas-public.html">
<link rel="lazy-import" href="leas-stres.html">
   <!-- <script src="./leasUtil.js"></script> -->
   <script src="./leas.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://sdk.amazonaws.com/js/aws-sdk-2.100.0.min.js"></script>

<dom-module id="leas-blog">
  <template>
     <style is="custom-style">
        :host {
          --app-primary-color: #4285f4;
          --app-secondary-color: black;
          display: block;
            z-index: 0;
        }
        app-drawer-layout:{
          --app-drawer-layout-content-transition: margin 2.2s;
        }

        /* Cabecera */
        app-header {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #4285f4;
          color: #fff;
        }


        iron-pages{
          padding-top: 30px;
        }


        .drawer-list {
        margin: 100px 200px;
        }

        .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
        }

        .drawer-list a.iron-selected {
        color: red;
        font-weight: bold;
        }

        .drawer-content {
        margin-top: 80px;
        height: calc(100% - 800px);
        overflow: auto;
        }
  </style>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="[[rootPattern]]:page" data="{{routeData}}" tail="{{subroute}}"></app-route>



    <app-header-layout>
      <app-header reveals>
        <app-toolbar>
          <paper-icon-button src='/src/fijos/menu.png'  on-tap="toggle"></paper-icon-button>
          <div main-title>L.E.A.S.</div>
          <paper-icon-button src='/src/fijos/logout2.png' style$="visibility:{{visibilityLogin}}"  on-tap="btnLogout"></paper-icon-button>
          <paper-icon-button src='/src/fijos/help-about.ico'  on-tap="btnHelp"></paper-icon-button>
        </app-toolbar>
      </app-header>


      <app-drawer-layout id="drawerLayout" align="start" fullbleed force-narrow>
        <!-- Drawer content  EL MENÚ-->
        <app-drawer id="drawer" fullbleed force-narrow slot="drawer">
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <!-- <a name="view2" href="#">.</a> -->
            <a name="login" href="login" >Login</a>
            <a name="public" href="public" >POSTS</a>
            <a name="stres" href="stres" >s3</a>
            <a name="posts"  href="posts" style$="visibility:{{visibilityLogin}}"> Post Management </a>
            <a name="usuarios"  href="usuarios" style$="visibility:{{visibilityLogin}}"> User Management </a>
          </iron-selector>
        </app-drawer>
        </app-drawer-layout>
      </app-header-layout>
      <iron-pages selected="[[page]]" attr-for-selected="name" slot="drawer" role="main">
            <leas-login name="login" ></leas-login>
            <leas-stres name="stres"></leas-stres>
            <leas-posts name="posts"></leas-posts>
            <leas-usuarios name="usuarios"></leas-usuarios>
            <leas-public name="public"></leas-public>
      </iron-pages>
  </template>
  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'leas-blog';

      }
      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          rootPattern: String,
          routeData: Object,
          subroute: String,
          leasuserlisthref:String,
          leaspostlisthref:String,
          visibilityLogin:{type:String, value:"hidden"},
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      constructor() {
        super();
        // Get root pattern for app-route, for more info about `rootPath` see:
        // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
        this.rootPattern = (new URL(this.rootPath)).pathname;
      }

      create(){
        // console.log("traza1");
        // leas.util.geoloc();
      }
      btnLogout(){
        leas.user.logout();
          {window.location.href = 'public';};
      }
      btnHelp(){
        window.open('/src/help/leas.post.html');

      }
      toggle(){
      //  console.log("leas.util.getUserLogin()",leas.util.getUserLogin());

        // if (leas.util.login()) {
        if (leas.user.isLogin()) {
            this.visibilityLogin = "visible";
            this.leasuserlisthref = "userlist";
        }else {
          this.visibilityLogin = "hidden";
          this.leasuserlisthref =undefined;
        }
        this.$.drawer.toggle();
      }
      _routePageChanged(page) {
        if (page === undefined) {
          return;
        }

        this.page = page || 'view1';
        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }


      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('leas-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
        if (sessionStorage.getItem("usuario") != null) {
              this.visibilityLogin = "visible";
        }else {
          this.visibilityLogin = "hidden";
        }
      }

      _showPage404() {
        this.page = 'public';
      }
    }


    window.customElements.define(MyApp.is, MyApp);

  </script>
</dom-module>
