<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-input/all-imports.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-styles/color.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="shared-styles.html">
<script src="/src/fijos/leas.js"></script>

<dom-module id="leas-login">
  <template>
    <style include="shared-styles iron-flex iron-positioning iron-flex-alignment">
      :host {
        display: block;
        width: 300px;
        padding-left: 20%;
        padding-top: 100px;
        height: 100%;
      }
    </style>
    <div class="fullbleed vertical layout center-justified">
      <div class="card ">
        <h1>Login</h1>
        <paper-input  label="Usuario" value="{{mUser}}"></paper-input>
        <paper-input label="Contraseña"  value="{{mPassword}}"></paper-input>
        <paper-button raised on-tap='btnLogin_OnTab'>Login</paper-button>
        <!-- <paper-button raised on-tap='btnLogout_OnTab'>Logout</paper-button> -->
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "leas-login",
      properties: {
        mUser:{type:String},
        mPassword:{type:String},
      },
      btnLogin_OnTab:function(){
        //console.log("this.mUser",this.mUser);
      //leas.util.setUserLogin( leas.postgre.loginUser(leas.util.ponLeas(this.mUser),this.mPassword));

        if(leas.user.login(leas.util.ponLeas(this.mUser),this.mPassword))
          {window.location.href = 'posts';};
      },
      // btnLogout_OnTab:function(){
      //
      //   leas.user.logout();
      //     {window.location.href = 'public';};
      // }
    });
  </script>
</dom-module>
